dockerImage/master/files/iib-10.0.0.5/tools/plugins/com.ibm.j2ca.wmb.migration.sap_8.0.0.201110071709/resources/wbi_to_v610/bo/ALEWrapper.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/alewrapper" 
xmlns:alewrapper="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/alewrapper" 
xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">

<import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" schemaLocation="SapBusinessObjectMetadata.xsd"/>

<annotation xml:space="preserve">
<appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="6.1"/>
</appinfo>
</annotation>

<annotation xml:space="preserve">
<appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>
</appinfo>
</annotation>

<complexType name="ALEWrapper">
<annotation xml:space="preserve">
<appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEBusinessObjectTypeMetadata xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">


</sapasi:sapALEBusinessObjectTypeMetadata>
</appinfo>
</annotation>
<sequence minOccurs="1" maxOccurs="1">

<element name="SAPTransactionID" type="string" nillable="true" minOccurs="1" maxOccurs="1">
<annotation xml:space="preserve">
<appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:FieldName>SAPTransactionID</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef></sapasi:ForeignBOKeyRef>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</appinfo>
</annotation>

</element>
<element name="qRFCQueueName" type="string" nillable="true" minOccurs="1" maxOccurs="1">
<annotation xml:space="preserve">
<appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapALEPropertyTypeMetadata xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:FieldName>qRFCQueueName</sapasi:FieldName>
<sapasi:SegmentHierarchy>0</sapasi:SegmentHierarchy>
<sapasi:OffSet>0</sapasi:OffSet>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ForeignBOKeyRef></sapasi:ForeignBOKeyRef>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapALEPropertyTypeMetadata>
</appinfo>
</annotation>
</element>

</sequence>
</complexType>
</schema>