dockerImage/master/files/iib-10.0.0.5/tools/plugins/com.ibm.j2ca.wmb.migration.core_8.0.0.201110071709/schema/WICSFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ibm.com/websphere/crossworlds/2002/FaultSchema/WICSFault">
  <xsd:complexType name="WICSFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="subtype" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>